<div class="well">
    <h2><%= poke.forms[0].name %></h2>
    <ul>
        <li>Height: <%= poke.height%></li>
        <li>Weight: <%= poke.weight%></li>
        <li>Type: <%= poke.types[0].type.name%></li>
        <li>Ability: <%= poke.abilities[0].ability.name%></li>
        
    </ul>
</div>